body {
    margin: 0 200px;
    background-color: black;
    font-family: Roboto;
}
.header {
    background-color: #1f2937;
    padding: 0 200px 100px 200px;
    color: white;
}

h2 {
    font-size: 24px;
    color: #F9FAF8;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li a{
    margin: 10px;
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 100px;
}

.header-hero {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.main-title {
     flex: 1;
    padding-right: 100px;
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0;
    margin-bottom: 0;
}

.main-title p {
    color: lightgray;
}
.image {
    flex-shrink: 0;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

.button-header  {
    background-color: #3882F6;
    font-weight: 900;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    font-family: Roboto;
    font-size: 18px;  
}

.random-info {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 300px 50px 300px;
}

.random-info-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.illustration {
    width: auto;
    height: 150px;
    border: #3882F6 solid 4px;
    border-radius: 20px;
}

.random-info ul{
    display: flex;
    padding: 0px;
}

.random-info ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: auto;
    list-style: none;
    text-align: center;
    margin: 20px;
    flex-grow: 1;
    font-size: 18px;
}
.quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 50px 300px 50px 300px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    align-self: center;
}

.quote-author {
    font-size: 24px;
    text-align: right;
    font-weight: 900;
}

.calltoaction-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 200px 100px 200px;
    background-color: white;
}

.calltoaction {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: #3882F6;
    color: white;
    padding: 40px;
    border-radius: 10px;
}

.calltoaction-header {
    font-size: 24px;
    font-weight: 900;
}

.calltoaction-button {
    background-color: #3882F6;
    font-weight: 900;
    color: white;
    padding: 10px 40px;
    border: solid white 2px;
    border-radius: 11px;
    margin-top: 10px;
    font-family: Roboto;
    font-size: 18px;  
}

.calltoaction-header-text {
    color: lightgrey;
}