body {
    margin: 0 200px;
    background-color: black;
    font-family: Roboto;
}
.header {
    background-color: #1f2937;
    padding: 0 200px 100px 200px;
    color: white;
}

h2 {
    font-size: 24px;
    color: #F9FAF8;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li a{
    margin: 10px;
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 100px;
}

.main-title {
    flex: 1;
    padding-right: 40px;
}

.header-hero {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.main-title p {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0;
    margin-bottom: 0;
}
.image {
    flex-shrink: 0;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    font-family: Roboto;
    font-size: 15px;  
}